<h1>
  Friends
</h1>
<%= button_tag 'Invite friend', class: 'btn btn-primary', data: { bs_toggle: 'modal', bs_target: '#exampleModal'} %>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
        Invite friend
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: Invitation.new do |form| %>
        <div class='modal-body'>
          <div class='form-group'>
            <%= form.label :email, class: 'form-label' %>
            <%= form.text_field :email, class: 'form-control form-control-lg', placeholder: 'Email' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Send invitation', class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= render 'invitations/invitations', received_invitations: @received_invitations, sent_invitations: @sent_invitations %>

<% @friends.each do |friend| %>
  <%= render 'friends/friend', friend: friend %>
<% end %>

