<div class="d-flex justify-content-between">
  <p class="<%= notification.unread? && 'fw-bold' %>">
    <%= notification.user.email %>
  </p>
  <p class="<%= notification.unread? && 'fw-bold' %>">
    <%= notification.data&.fetch('message', '') %>
  </p>
  <div class="d-flex flex-row gap-2">
    <% if notification.unread? %>
      <%= link_to 'Mark as Read', mark_as_read_notification_path(notification), class: 'btn btn-light min-width-btn', data: { turbo_method: :post } %>
    <% end %>
  </div>
</div>
