
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <p class='mb-0 text-success'>
            <%= current_user.email %>
          </p>
          <div class="navbar-nav">
            <%= render "shared/nav_link", label: "All", path: root_path %>
            <%= render "shared/nav_link", label: "Active", path: active_items_path %>
            <%= render "shared/nav_link", label: "Inactive", path: inactive_items_path %>
            <%= render "shared/nav_link", label: "Borrowed", path: borrowed_items_path %>
            <%= render "shared/nav_link", label: "On place", path: on_place_items_path %>
            <%= render "shared/nav_link", label: "Friends", path: friends_path %>
            <li class='nav-item'>
              <% if user_signed_in? %>
                <%= link_to "log out", destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link' %>
              <% end %>
            </li>
          </div>
        </div>



