<div id="items", class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Active</th>
        <th class="text-center">Borrowed</th>
        <th class="text-center">Type</th>
        <% if action_name == 'borrowed' %>
          <th class="text-center">
            Borrowed to:
          </th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td class="text-center"><%= item.active ? "✅" : "❌" %></td>
          <td class="text-center"><%= item.borrowed ? "✅" : "❌" %></td>
          <td class="text-center"><%= item.item_type %></td>
          <% if item.borrowed && item.borrowed_to %>
            <% if action_name == 'borrowed' %>
              <td class="text-center">
                <%= item.borrowed_to&.email %>
                <%= distance_of_time_in_words_to_now(item.borrowed_at) %> ago
              </td>
            <% end %>
          <% end %>
          <td>
            <%= link_to "Show this item", item, class: "btn btn-primary btn-sm" %>
            <% if item.requested? %>
              <span class="badge badge-round-pill bg-success">
                Requests: <%= item.rental_requests.count %>
              </span>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

