<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item), class: "btn btn-primary btn-sm" %> |
  <%= link_to "Back to items", items_path, class: "btn btn-secondary btn-sm" %><br>
  <br>
  <%= link_to "Delete", item_path(@item), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
